@use'./mixins';

.search-bar {
    display: flex;
    justify-content: center;
    gap: 1rem;   
    margin-bottom: 1rem;
    &__input {
        width: 100%;
        height: 3rem ;
        border: none;
        border-radius: 2px;
        padding-left: 1rem;
    } 
    &__button {
        border-radius: 2px;
        width: 10rem;
        border: none;
        transition: all 0.2s;


        @include mixins.hover;
        @include mixins.active;
    }
}
@media only screen and (min-width: 768px) {
    .search-bar {
        &__input {
            margin-left: .6rem;
        }
        &__button {
            margin-right: .6rem;
        }
    }
}
@media only screen and (min-width: 1240px) {
    .search-bar {
        &__input {
            margin-left: .4rem;
        }
        &__button {
            margin-right: .4rem;
        }
    }
}